<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" href="/static/css/payment.css" />
    <script src="/static/js/payment.js" defer></script>
</head>
<body>
<div class="header">
  <h1>Payment Details</h1>
</div>
<section>
    <form action="#" method="post">
        <div class="card">
            <h2>The total amount is $200</h2>
            <h3>Choose payment method below!</h3>
            <button type="button" class="paypalBtn"><img src="/static/img/pay_pal_img.png" alt="" class="panel-img"></button>
            <button type="button" class="cardBtn"><img id="card-payment" src="/static/img/cc_img.png" alt="CreditCard"></button>
        </div>
    </form>
    <div id="paymentModal" class="modal">

        <div class="modal-content">
        </div>

    </div>
</section>
</body>
</html>